/* You can add global styles to this file, and also import other style files */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background: linear-gradient(
    245.96deg,
    #aca5a7 0%,
    #ff5757 28.53%,
    #703838 75.52%
  );
  background-attachment: fixed;
  
}

