<!-- 
<ngb-carousel>
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="carousel-wrapper" [style.backgroundImage]="'url(assets/' + image.name + ')'" [style.backgroundSize]="'cover'" [style.backgroundPosition]="'center'">
      <div class="caption">{{image.caption}}</div>
    </div>
  </ng-template>
</ngb-carousel> -->

<div class="paralax">
  <div class="paralax-item p-item1" ></div>
  <div class="paralax-item p-item2" ></div>
  <div class="paralax-item p-item3"></div>
  <div class="paralax-item p-item4" ></div>
</div>

<div class="container">

  <div class="content-header">
    <h1>Bienvenue sur UniPartner</h1>
    <h2>Trouvez votre partenaire de projet idéal.</h2>
  </div>
  <div class="content">
    <img src="../../assets/download-removebg-preview.png" alt="" />
  </div>
  <div class="content-header">
    <h1>Explorez UniPartner</h1>
    <h2>Votre Portail pour des Projets Académiques Exceptionnels.</h2>
  </div>
  <div class="content">
    <img src="../../assets/c304659c6d60cff81298e35ea333dbfc-removebg-preview.png" alt="" />
  </div>
  <div class="content-header">
    <h1>Jumelage Intelligent</h1>
    <h2>Trouvez des Collègues Qui Complètent Vos Compétences.</h2>
  </div>
  <div class="content">
    <img src="../../assets/45d1e88ca26ef79bb5a6713d204dc534-removebg-preview.png" alt="" />
  </div>
  <div class="content-header">
    <h1>UniPartner pour Tous</h1>
    <h2>Choisissez Votre Langue, Participez au Monde Académique.</h2>
  </div>
  <div class="content">
    <img src="../../assets/48a2729743e0d8b44646f0d0afcec136-removebg-preview.png" alt="" />
  </div>
  <div class="content-header">
    <h1>Ne Manquez Rien</h1>
    <h2>Soyez Notifié des Correspondances Pertinentes..</h2>
  </div>
  <div class="content">
    <img src="../../assets/64c3ccf1d38ea2a87d6a62e0d82f984a-removebg-preview.png" alt="" />
  </div>
</div>

