<div class="container mt-5">
    <div class="row alert alert-danger" >
      <div class="col-md-5">
        <h1 class="text-light my-5" style="font-weight: bold;font-size: 70px;">
          Ooops...
        </h1>
        <p class="h2 text-light my-5">Page not found</p>
        <h5 class="text-light">The page you are looking for does not exist or another error has occurred,<br> go back to home page from here..<br>
          <button (click)="goToLogin()" class="btn btn-light my-5">Go</button></h5>
      </div>
      <div class="col-md-4">
        <img
          src="../../../assets/pageNotFound.gif"
          alt="Page not found"
          class="d-block m-auto my-5"
          style="height: 500px;width: 500px; border-radius: 50%; border: 5px solid transparent"
        />
      </div>
  
  
  
    </div>
  </div>
  