<div class="container">
    <div class="box" data-color="clr1">
      <div class="imgBx">
        <img src="../../assets/2.png" alt="" />
      </div>
      <div class="glass">
        <h3>Wassim OUERTANI<br /><span>Backend Developer</span></h3>
        <ul>
          <a href="https://www.linkedin.com/in/wassim-ouertani/" style="--i: 1" target="_blank">
            <i class="ri-linkedin-box-line"></i>
          </a>
          <a href="https://github.com/wassimouertany" style="--i: 2" target="_blank">
            <i class="ri-github-fill" ></i></a>
          <a href="mailto:wassimouertani@outlook.com" style="--i: 3" target="_blank">
            <i class="ri-mail-send-line"></i></a>
        </ul>
      </div>
    </div>
    <div class="box" data-color="clr2">
      <div class="imgBx">
        <img src="../../assets/1.png" alt="" />
      </div>
      <div class="glass">
        <h3>Yosr MEDDAH<br /><span>Frontend Developer</span></h3>
        <ul>
          <a href="https://www.linkedin.com/in/yosr-meddah/" style="--i: 1" target="_blank">
            <i class="ri-linkedin-box-line"></i>
          </a>
          <a href="https://github.com/Yosr-MEDDAH" style="--i: 2" target="_blank">
            <i class="ri-github-fill"></i></a>
          <a href="mailto:yosrmeddah@outlook.com" style="--i: 3" target="_blank">
            <i class="ri-mail-send-line"></i></a>
        </ul>
      </div>
    </div>
    
  </div>
  